<p>
    I love to code, nothing is more satisfying then deleting a hundred lines of code and replacing it with three. 
    I enjoy learning new tools, frameworks and languages as well. Thomas and Hunts <a href='https://pragprog.com/book/tpp/the-pragmatic-programmer' target="blank">Pragmatic Programmer </a> 
    and Robert Martin's <a href="https://www.safaribooksonline.com/library/view/clean-code/9780136083238/" target="blank" >Clean Code</a>, changed how I think about and write software. 
    I strongly believe in practical and easy to under stand solutions to problems. 
    But most of all I enjoy writing good quality clean code.
</p>
<h3>Frameworks</h3>
<img src="assets/net.svg" class="badge" title="dotnet" />
<img src="assets/netcore.svg" class="badge" title="dotnet core"  />
<img src="assets/ror.svg" class="badge"  title="ruby on rails"/>
<img src="assets/backbone-icon.svg" class="badge" title="backbonejs" />
<img src="assets/angular.svg" class="badge" title="angular" />
<img src="assets/jquery-original.svg" class="badge" title="jquery" />
<img src="assets/silverlight.png" class="badge" title="silver light" />
<h3>Languages</h3>
<img src="assets/csharp.svg" class="badge" title="c#" />
<img src="assets/kotlin-logo.svg" class="badge" title="kotlin" />
<img src="assets/vb.svg" class="badge" title="visual basic dotnet" />
<img src="assets/xaml.svg" class="badge" title="xaml" />
<img src="assets/ruby-logo.svg" class="badge" title="ruby" />
<img src="assets/javascript.svg" class="badge" title="javascript" />
<img src="assets/coffeescript.svg" class="badge" title="coffee script"/>
<img src="assets/typescript.svg" class="badge" title="typescript" />
<h3>Data</h3>
<img src="assets/pg.png" class="pg-logo" title="postgres"  />
<img src="assets/sql_logo.png" class="sql-logo" title="ms sql" />

