<h2>Education</h2> 

<mat-grid-list cols="2"  rowHeight:rowWidth="1:4"  >
        <mat-grid-tile >
            <mat-card>
                    <img src="assets/education/wwu.png" style="height:90px;" >
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <img src="assets/education/preview.svg" style="height:90px;" >
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card>
                        <img src="assets/education/ps_logo.png" style="height:90px;" >
                </mat-card>
         </mat-grid-tile>

</mat-grid-list>


