
  <mat-list>
      <mat-list-item *ngFor="let repo of spotLights" (click)=viewRepo(repo.html_url) class="repo" >
        <img matListAvatar src="{{forked(repo.fork)}}" alt="...">
        <h3 matLine> {{repo.name}} </h3>
        <!-- <span>{{repo.}}</span> -->
      </mat-list-item>
  </mat-list> 


  <mat-list>
      <mat-list-item *ngFor="let repo of repos" (click)=viewRepo(repo.html_url) class="repo"  >
        <img matListAvatar src="{{forked(repo.fork)}}" alt="...">
        <h3 matLine> {{repo.name}} </h3>
        <!-- <span>{{repo.}}</span> -->
      </mat-list-item>
  </mat-list> 