@using ExposureAPI.Models
@model ExposureAPI.Models.Gallery
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@addTagHelper *, ASP

@await Component.InvokeAsync("Script", new
{
    className = "GalleryIndex"   
})

<h2>title</h2>
<ul>
    <il>@Html.Partial("_Uploader")</il>
    <li>@Model.GalleryId</li>
</ul>


   