
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@addTagHelper *, ASP

@await Component.InvokeAsync("Script", new
{
    className = "GalleryIndex"   
})

<h2>title</h2>
 @Html.Partial("_Uploader")     