@model IEnumerable<ExposureAPI.Models.Gallery>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@addTagHelper *, ASP

@await Component.InvokeAsync("Script", new
{
    className = "GalleryIndex"   
})

<h2>title</h2>
<ul>
    @foreach (var gallery in Model)
    {
        <li>
            @Html.ActionLink(gallery.Title,"show","Gallery",new{siteid=gallery.SiteId,galleryid = gallery.GalleryId })

        </li>
    }     
</ul>


   