<app-main-menu></app-main-menu> 
<mat-card>
    <router-outlet></router-outlet>
</mat-card>
    
<!-- <div 
fxLayout="row" 
fxLayout.xs="column" 
fxFlexFill>
<div fxFlex="33" item-width="100%"  >
        <button mat-button routerLink="/bio" >
            <fa name="user-circle" size="5x" ></fa>   
        </button>        
    </div>
<div  fxFlex="33" item-width="100%"  >
    <button mat-button routerLink="/github"   >
        <fa name="github" size="5x"   ></fa>   
    </button>                  
</div>
<div fxFlex="33" item-width="100%" >
    <button mat-button routerLink="/education"  >
        <fa name="graduation-cap" size="5x"  ></fa>   
    </button>        
</div>
<div fxFlex="33"item-width="100%" >
    <button mat-button routerLink="/stack-overflow" >
        <fa name="stack-overflow" size="5x"  ></fa>   
    </button>        
</div>
<div fxFlex="33"  item-width="100%" >
    <button  mat-button routerLink="/linkedin" >
        <fa name="linkedin" size="5x"  ></fa>   
    </button>        
</div>
<div fxFlex="33"  item-width="100%" >
        <button  mat-button routerLink="/books" >
            <fa name="book" size="5x"  ></fa>   
        </button>        
    </div>
</div>
<mat-card>
    <router-outlet></router-outlet>
    
</mat-card> -->

<!-- <button mat-button routerLink="/books" style="height:100%; width:100%;" >
    <fa name="book" size="5x"    ></fa>
    </button> -->
<!-- <div fxFlex="15" class="sec3" fxFlex.gt-xs="30">
    <button mat-button routerLink="/github" style="height:100%; width:100%;" >
        <fa name="github" size="5x"  ></fa>   
      </button>     
</div>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile rowWidth="100%">
                <button mat-button routerLink="/bio" style="height:100%; width:100%;" >
                    <fa name="user-circle" size="5x" inverse=true  ></fa>   
                </button>           
          </mat-grid-tile>
          <mat-grid-tile>
              <div>
                    <button mat-button routerLink="/education" style="height:100%; width:100%;" >
                        <fa name="graduation-cap" size="5x" ></fa>
                        </button>
              </div>
        
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
                    <button mat-button routerLink="/github" style="height:100%; width:100%;" >
                        <fa name="github" size="5x"  ></fa>   
                      </button>     
          </mat-grid-tile>
      <mat-grid-tile>
                <button mat-button routerLink="/github" style="height:100%; width:100%;" >
                    <fa name="github" size="5x"  ></fa>   
                  </button>     
      </mat-grid-tile>
      <mat-grid-tile>
                <button mat-button routerLink="/books" style="height:100%; width:100%;" >
                    <fa name="book" size="5x" ></fa>
                    </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-button routerLink="/stack-overflow" style="height:100%; width:100%;" >
            <fa name="stack-overflow" size="5x" ></fa>
          </button>
        </mat-grid-tile>

      <mat-grid-tile>
          <button mat-button routerLink="/linkedin" style="height:100%; width:100%;" >
              <fa name="linkedin" size="5x" inverse=true ></fa>
          </button>  
      </mat-grid-tile>
    </mat-grid-list> -->