@using ExposureAPI.Models
@using Newtonsoft.Json.Linq
@model Site

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">title</span>
    </div>
    @Html.TextBoxFor(m => Model.Title, new {@class = "form-control", arial_label = "title", aria_describedby = "basic-addon1"})
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">description</span>
    </div>
    @Html.TextAreaFor(m => Model.Description, new {@class = "form-control", aria_label = "description", aria_describedby = "basic-addon1"})
</div>