@using ExposureAPI.Models
@model IEnumerable<Site>

@{
    ViewBag.Title = "Sites";
    Layout = "_Layout";
}

<h2>Sites</h2>
<p>This is a bunch of sites</p>
<div class="card">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }    
    </ul>    
</div>

