@using ExposureAPI.Models
@model IEnumerable<Site>

@{
    ViewBag.Title = "Sites";
    Layout = "_Layout";
}
@addTagHelper *, ASP

@await Component.InvokeAsync("Script", new
{
    className = "SiteIndex"   
})


<h2>Sites</h2>
<p>This is a bunch of sites</p>
<button class="btn btn-primary" data-toggle="modal" data-target="#addSite" data-keyboard="false" data-backdrop="static" >add</button>
<div class="card">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item site-item" data-site_url="site/show/@item.SiteId" >@item.SiteId -  @item.Title</li>
        }    
    </ul>    
</div>


<div class="modal" id="addSite" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                @using (Html.BeginForm("Create", "Site", FormMethod.Post))
                {
                    <div class="modal-body">
                        @Html.Partial("_Form", new Site())            
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                }
        </div>
    </div>
</div>
